$color-header: #004a7c;
$color-white: #fff;
$color-light-blue-grey: #F5F7F9;
$color-dark-grey: #5f5f5f;
$color-black: #000;
$color-light-blue: #e3eff5;
$color-darker-blue: #88ADBF;
$color-darkest-blue: #376981;

.bg-primary{
  background-color: $color-white;
}
.bg-light-blue-grey{
  background-color: $color-light-blue-grey;
}
.bg-darker-blue{
  background-color: $color-darker-blue;
}
.bg-none {
  background-color: inherit;
}
.bg-darkest-blue{
  background-color: $color-darkest-blue;
}

body {
  padding: 0px;
  margin: 0px;
  p {
    padding: 0px;
    margin: 0px;
  }
}

.card {
  height: 100%;
}

.hidden {
  display: none;
}

.flex-row {
  display: flex;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
}

.navbar {
  background: $color-header;
  padding: 0;
  .container > .flex-row{
    justify-content: space-around;
  }

  button {
    background: none;
    color: white;
    font-weight: bold;
    border-radius: 0;
  }

  button:hover {
    background: black;
  }
}


.btn-filter {
  margin: 0.3rem;
  border: 2px solid $color-darkest-blue;
  background-color: inherit;
}

.btn.active {
  background-color: $color-darkest-blue;
  border: 2px solid $color-white;
  box-shadow: none;
  color: white;
}

.sticky-menu {
  background: $color-light-blue;
  width: 100%;
  height: 4rem;
}

.padding-1 {
  padding: 1em;
}
.padding-2 {
  padding: 2em;
}
.padding-sm {
  padding: 0.5em;
}
.padding-xsm {
  padding: 0.2em;
}

img {
  width: 100%
}

.charts:nth-child(even) {
  background: $color-light-blue-grey;
}

.center {
  text-align: center;
}

.fnt-xxlg {font-size: 2em;}
.fnt-xlg {font-size: 1.8em;}
.fnt-lg {font-size: 1.4em;}
.fnt-md {font-size: 1em;}
.fnt-sm {font-size: 0.8em;}
.fnt-xsm { font-size: 0.6em;}

.no-p-m {
  margin:0px;
  padding:0px;
}

.parent-h-w {
  width:100%;
  height:100%
}

#chartsandbox {
  h2 {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
  p {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
  img {
    width: 300px;
  }
}

#pop-chart {
  min-width: 320px;
  min-height: 360px;
}

@media (min-width: 576px) { 
  
 }